input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-default;
	@include button-strip;
	background-color: $colour_main;
	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
