// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// cta on white/light bg

@mixin cta-lightbg {
	-webkit-box-shadow: 5px 5px 0px 2px rgba(4,107,153,1);
	-moz-box-shadow: 5px 5px 0px 2px rgba(4,107,153,1);
	box-shadow: 5px 5px 0px 2px rgba(4,107,153,1);
	color: $colour_main;
}

// text highlight

@mixin highlight($bg, $colour) {
	color: $colour;
	background-color: $bg;
	font-weight: 600;
  padding: 0 2px;
}

// section background colour

@mixin background-colour($colour) {
	width: 100%;
	padding: $font__size;
	background: $colour;
}

// buttons

@mixin button-default {
	display: inline-block;
  font-size: $font__size;
  letter-spacing: .1em;
  min-width: 64px;
  padding: $font__size*0.8 $font__size;
  margin: ($font__size / 2) 0;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

@mixin button-text {
	padding: $font__size / 3 ;
	display: inline-block;
	@include font-size(1.2);
	letter-spacing: .1em;
	margin: 0 $font__size;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 900;
	border-bottom: 5px solid transparent;
	&:hover {
		color: $colour_main;
		border-bottom: 5px solid $colour_main;
	}
	&:visited {
		color: $colour_main;
	}
	&:active {
		color: $colour_med;
		border-bottom: 5px solid $colour_med;
	}
}

@mixin button-strip {
	user-select: none;
  cursor: pointer;
  border:none;
}