$colour_main: #1c304a;
$colour_med: #046b99;
$colour_bright: #00cfff;
$colour_light: #b3efff;
$colour_white: #fff;
$colour_black: #000;
$colour_black-light: #e7e7e7;
$colour_pop: #ff533d;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $colour_main;
$color__link-visited: $colour_main;
$color__link-hover: $colour_med;
$color__text-main: $colour_black;

$color__border-button: $colour_main;
$color__border-button-hover: $colour_bright;
$color__border-button-focus: $colour_bright;
$color__border-input: $colour_med;
$color__border-abbr: #666;