.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			position: absolute;
			right: 0;
			top: 0;
			ul {
				left: -999em;
				top: 0;
			}
		}
	}
	a {

	}
	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {
		color: $colour_med;
	}
}

.navbar-container {
	position: relative;
}

/* Small menu. */

.menu-toggle {
	position: absolute;
	top: $font__size;
	right: $font__size;
	background-color: $colour_main;
	color: $colour_white;
	@include font-size(1.5);
	text-align: center;
}

.main-navigation.toggled ul {
	display: block;
	text-align: center;
}

@media screen and (min-width: 40em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: inline;
		text-align: left;
	}
	.main-navigation {
		padding: 26px 0;
		a {
			@include button-text;
		}
		li {
			display: inline-block;
		}
	}
	li.nav-search {
		float: right;
		padding: 6px;
		input[type="search"] {
			border: none;
			border-bottom: 2px solid $colour_med;
		}
		input[type="submit"] {
			display: none;
		}
	}
	.site-branding {
		float: left;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	.nav-previous {
		float: left;
		width: 50%;
	}
	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

// nav search
li.nav-search {
	display: block;
	input[type="search"] {
		border-radius: 0;
		border: 2px solid $colour_main;
		width: 100%;
	}
	input[type="submit"] {
		display: none;
	}
}